// colors
$dark-black: #313132;
$light-black: #515154;
$dark-white: #f5f5f7;
$light-white: #fbfbfd;
$main-red: #bb0724;

// responsive
$lg-size: 1190px;
$md-size: 992px;
$sm-size: 768px;
$xsm-size: 480px;

// z-index
$header-index: 1000;
$search-index: 999;
